.home {
  h4 {
    color: $primaryColor;
  }
  .nav {
    display: flex;
    justify-content: center;
    padding: 0px;
    // background-color: red;
    // width: 90%;
    .nav-tabs {
      button {
        padding: 21px 30px;
        color: $secondaryColor;
        font-size: 12px;
        // font-weight: 100;
        font-family: "Montserrat";
        // text-transform: capitalize;
        border-radius: 0px;
      }
    }
  }
  .nav-tools {
    display: flex;
    justify-content: right;
    align-items: center;
    button {
      margin-right: 10px;
      color: $primaryColor;
    }
  }
}
